<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Help</th>
    <th>Connect With Us</th>
    <th>Get to Know Us</th>
  </tr>
 
  <tr>
    <td>Cancellation & Returns</td>
    <td>Sell on GRG</td>
    <td></td>
  </tr>
  <tr>
    <td>Shipping</td>
    <td>About Us</td>
    <td>UK</td>
  </tr>
 
  <tr>
    <td>payement</td>
    <td>Contact Us</td>
    <td></td>
  </tr>
</table>

</body>
</html>