<!doctype html>
<html>
<head>
<title>
home
</title>
<link rel="stylesheet" href="/stylesheets/formate.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/footwear.css" />
<link rel="stylesheet" href="/stylesheets/Formal.css" />
</head>


<body>


<div id="topimg" >

<ul id="topmenu">
    <li><a > About us</a> </li>
    <li><a id="myBtn" > Login Us | </a></li>
    <li><a href="sign_up" target="_blank"> Sign Up | </a></li>
    <li><a href="#"> Customer Care |</a></li>
    <li><a href="#"> Gift Card |</a></li>
	<li><a href="#"> Advertise |</a></li>
	
</ul>

<a href="index"><div id="logo" > <img src="/images/logo/logo.png"></a>
</div>
	


<form method="POST" id="search" >

<input type="text" id="searchtext" placeholder="Search....." >
<span id="submitbtn"><input type="submit" id="searchbutton" value="go">
</span>
</form>

</div>
<div class="Slide">
<img src="/images/sliding images/l.jpg" id="img" alt="" />
</div>
<div id="purchase1">
<img src="/images/menfootwear/g.jpg" alt="" />
		<a href="/MenFootware"><button id="shoes" >Sport's Shoes</button></a>
	
</div>


<div id="purchase2">

<img src="/images/Men Formal Shoes/j.jpg" alt="" />
		<a href="/MenFormal_shoes"><button id="shoes" >Formal shoes</button>
</a>
</div>



<div id="girls_shoes">

<img src="/images/Men-Shirt/2016-Casual-Striped-font-b-Men-b-font-font-b-Shirts-b-font-Long-Sleeve-Male.jpg" alt="" />
	<a href="/menShirt"><button id="sandal" >Shirt</button></a>	

</div>
<div id="girls_sandal">

<img src="/images/Men-tshirt/2016-New-Quality-Cotton-T-Shirts-Men-Short-Sleeve-Summer-Tops-For-Man-Famous-Brand-Design.jpg" alt="" />
		<a href="/Ment-shirt"><button id="sandal" >T-Shirt</button></a>

</div>

<div id="purchase7">

<img src="/images/Men's Jeans/Business-style-dress-font-b-jeans-b-font-good-quality-cotton-font-b-mens-b-font.jpg" alt="" />
	<a href="Men_jeans"><button id="footwear" >Jeans</button></a>	

</div>
<div id="purchase8">

<img src="/images/Trouser/Formal-Man-Trouser-Casual-Men-s-Pant-Korean-Slim-Trousers-Iron-Collar-Work-Wear-Men-Trousers.jpg" alt="" />
		<a href="trouser"><button id="footwear" >Trouser</button></a>

</div>



<div id="bottom_cell">

<table>
  <tr>
    <th>Help</th>
    <th>Connect With Us</th>
    <th>Get to Know Us</th>
  </tr>
 
  <tr>
    <td>Cancellation & Returns</td>
    <td>Sell on GRG</td>
    <td></td>
  </tr>
  <tr>
    <td>Shipping</td>
    <td>About Us</td>
    <td>UK</td>
  </tr>
 
  <tr>
    <td>payement</td>
    <td>Contact Us</td>
    <td></td>
  </tr>
</table>

</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
	
      <span class="close">&#10006;</span>
      <h2>Login</h2>
    </div>
    <div class="modal-body">
      <form action="login.php">
	  <div class="login">
	  <input type="e-mail" placeholder="Enter e-mail id"/><br/>
	  <input type="password" placeholder="Password"/><br/>
	  <input type="submit" value="login"/><br/>
	  </div>
	  </form>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>
</div>

</div>

<script type="text/javascript" src="myscript.js"></script>
</body>
</html>