<html>
<head>
<link rel="stylesheet" href="/images/css/style1.css" />
<title>Men's Formal shoes</title>

</head>
<body>

<div id="topimg" >

<ul id="topmenu">
    <li><a > About us</a> </li>
    <li><a id="myBtn" > Login Us | </a></li>
    <li><a href="sign_up" target="_blank"> Sign Up | </a></li>
    <li><a href="#"> Customer Care |</a></li>
    <li><a href="#"> Gift Card |</a></li>
	<li><a href="#"> Advertise |</a></li>
	
</ul>

<a href="index"><div id="logo" > <img src="/images/logo/logo.png"></a>
</div>
	


<form method="POST" id="search" >

<input type="text" id="searchtext" placeholder="Search" >
<span id="submitbtn"><input type="submit" id="searchbutton" value="go">
</span>
</form>

</div>


<div class="Slide">
<img src="/images/sliding images/img1.jpg" id="img" alt="" />
</div>
<div class="container">
<div class="container1">
	<img src="/images/Men Formal Shoes/a.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<a href="/buy"><button class="Buy" >Buy Now</button></a>
	
	
<a href="#">	<button class="cart" >Add To Cart</button></a>
	
	</div>
<div class="container2">
	<img src="/images/Men Formal Shoes/b.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<button class="Buy" >Buy Now</button>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	
<div class="container3">
	<img src="/images/Men Formal Shoes/c.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<button class="Buy" >Buy Now</button>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container4">
	<img src="/images/Men Formal Shoes/d.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<button class="Buy" >Buy Now</button>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container5">
	<img src="/images/Men Formal Shoes/e.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<button class="Buy" >Buy Now</button>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container6">
	<img src="/images/Men Formal Shoes/f.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<button class="Buy" >Buy Now</button>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container7">
	<img src="/images/Men Formal Shoes/g.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<button class="Buy" >Buy Now</button>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container8">
	<img src="/images/Men Formal Shoes/h.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<button class="Buy" >Buy Now</button>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container9">
	<img src="/images/Men Formal Shoes/i.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<button class="Buy" >Buy Now</button>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	</div>
</body>

</html>
