<html>
<head>
<link rel="stylesheet" href="/stylesheets/style1.css" />
<link rel="stylesheet" href="/stylesheets/Formal.css" />
<title>women Saree</title>

</head>
<body>

<div id="topimg" >

<ul id="topmenu">
    <li><a > About us</a> </li>
    <li><a id="myBtn" > Login Us | </a></li>
    <li><a href="sign_up" target="_blank"> Sign Up | </a></li>
    <li><a href="#"> Customer Care |</a></li>
    <li><a href="#"> Gift Card |</a></li>
	<li><a href="#"> Advertise |</a></li>
	
</ul>

<a href="/index"><div id="logo" > <img src="/images/logo/logo.png"></a>
</div>
	


<form method="POST" id="search" >

<input type="text" id="searchtext" placeholder="Search" >
<span id="submitbtn"><input type="submit" id="searchbutton" value="go">
</span>
</form>

</div>


<div class="FormalSlide">
<img src="/images/sliding images/v.jpg" id="img" alt="" />
</div>
<div class="container">
<div class="container1">
	<img src="/images/saree/a.jpg" alt="" />
	<div class="wrapper">
		
	</div>
		<a href="/saree_a"><button class="Buy" >Buy Now</button></a>
	
	
<a href="#">	<button class="cart" >Add To Cart</button></a>
	
	</div>
<div class="container2">
	<img src="/images/saree/b.jpg" alt="" />
	<div class="wrapper">
		
	</div>
	<a href="/saree_b"><button class="Buy" >Buy Now</button></a>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	
<div class="container3">
	<img src="/images/saree/c.jpg" alt="" />
	<div class="wrapper">
		
	</div>
	<a href="/saree_c"><button class="Buy" >Buy Now</button></a>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container4">
	<img src="/images/saree/d.jpg" alt="" />
	<div class="wrapper">
		
	</div>
	<a href="/saree_d"><button class="Buy" >Buy Now</button></a>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container5">
	<img src="/images/saree/e.jpg" alt="" />
	<div class="wrapper">
		
	</div>
	<a href="/saree_e"><button class="Buy" >Buy Now</button></a>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container6">
	<img src="/images/saree/f.jpg" alt="" />
	<div class="wrapper">
		
	</div>
	<a href="/saree_f"><button class="Buy" >Buy Now</button></a>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container7">
	<img src="/images/saree/g.jpg" alt="" />
	<div class="wrapper">
		
	</div>
	<a href="/saree_g"><button class="Buy" >Buy Now</button></a>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container8">
	<img src="/images/saree/h.jpg" alt="" />
	<div class="wrapper">
		
	</div>
	<a href="/saree_h"><button class="Buy" >Buy Now</button></a>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	<div class="container9">
	<img src="/images/saree/i.jpg" alt="" />
	<div class="wrapper">
		
	</div>
	<a href="/saree_i"><button class="Buy" >Buy Now</button></a>
	
	
	<button class="cart" >Add To Cart</button>
	
	</div>
	</div>
</body>

</html>
